<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h5 style="color: white">FREEBIE - blog about giveaways</h5>
            <ul class="footer-links">
              <li><a href="#">Zhandosyva/Manasa</a></li>
              <li><a href="#">+7-747-254-09-47</a></li>
              <li><a href="#">freebie@gmail.com</a></li>
            </ul>
          </div>
        </div>



        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <ul class="footer-links">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
